.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
    flex-direction: column;
}
.flex{
    display: flex;
    gap: 2px;
}
.contenedor > div:nth-child(1){
    width: 282px;
    height: 282px;
    text-align: center;
    background-color: rgb(74, 88, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.flex > div{
    width: 140px;
    height: 90px;
    text-align: center;
    background-color: rgb(74, 88, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.contenedor > div:nth-child(4){
    width: 282px;
    height: 120px;
    text-align: center;
    background-color: rgb(74, 88, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.contenedor > div:nth-child(1) p{
    font-size: 40px;
    font-weight: bold;
}
